<div class="container" ng-if="page.loadStatus == 'loading'">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="page-message">Loading</div>
      <div class="circle-spinner">
        <div class="spinner-container container1">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="admin-toolbar-wrapper" ng-if="page.auth.isAdmin()">
  <div class="container">
    <div class="row">
      <div class="col-md-12 admin-toolbar">
        <div class="btn-toolbar">
          <div class="btn-group">
            <!--<button type="button" class="btn btn-success" data-page-operation="publish"><span class="glyphicon glyphicon-check"></span> Publish</button>-->
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> Add Widget <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Large Components</li>
                <li><a href="#" ng-click="page.addWidget('pageheader')">Page Header</a></li>
                <li><a href="#" ng-click="page.addWidget('jumbotron')">Jumbotron</a></li>
                <li><a href="#" ng-click="page.addWidget('carousel')">Carousel</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Media Display</li>
                <li><a href="#" ng-click="page.addWidget('thumbnail')">Thumbnail</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Content Pieces</li>
                <li><a href="#" ng-click="page.addWidget('well')">Well</a></li>
                <li><a href="#" ng-click="page.addWidget('grid')">Grid</a></li>
                <li><a href="#" ng-click="page.addWidget('featurette')">Featurette</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Simple Widgets</li>
                <li><a href="#" ng-click="page.addWidget('text')">Text</a></li>
                <!--<li><a href="#" ng-click="page.addWidget('html')">HTML Code</a></li>-->
                <!--<li class="divider"></li>
                <li class="dropdown-header">External Resources</li>
                <li><a href="#" ng-click="page.addWidget('youtube')">YouTube Video</a></li>-->
              </ul>
            </div>
          </div>
          <!--<div class="btn-group">
            <button type="button" class="btn btn-default" disabled="disabled"><span class="glyphicon glyphicon-list"></span> Manage Subpages</button>
          </div>-->
          <!--<div class="btn-group">-->
            <!--<button type="button" class="btn btn-info" disabled="disabled"><span class="glyphicon glyphicon-eye-open"></span> Show Page</button>-->
            <!--<button type="button" class="btn btn-info" disabled="disabled"><span class="glyphicon glyphicon-eye-close"></span> Hide Page</button>-->
            <!--<button type="button" class="btn btn-warning" disabled="disabled"><span class="glyphicon glyphicon-cog"></span> Page Settings</button>-->
            <!--<button type="button" class="btn btn-danger" data-page-operation="discardChanges"><span class="glyphicon glyphicon-repeat"></span> Discard Changes</button>
          </div>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="status-bar">
          <!--<span class="label label-default" data-toggle="tooltip" title="{{ times.created.timestamp | date:'medium' }}">Created: {{ times.created.timesince }} ago</span>
                    <span class="label label-success" data-toggle="tooltip" title="{{ times.lastPublished.timestamp | date:'medium' }}">Last Published: {{ times.lastPublished.timesince }} ago</span>
                    <span class="label label-info" data-toggle="tooltip" title="{{ times.lastModified.timestamp | date:'medium' }}">Last Modified: {{ times.lastModified.timesince }} ago</span>
                    <br>-->
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" ng-if="page.loadStatus == 'error'">
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="well text-center">
        <div class="page-message">Oops</div>
        <h2>The requested page could not be found</h2>
        <h4>Please use the menu above to find what you are looking for.</h4>
        <a href="/home" type="button" class="btn btn-primary">Home <span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>

<div ng-repeat="widget in widgets">
  <script id="dynamic_button.html" type="text/ng-template">
    <a href="{{ widget.button.uri }}" type="button" class="btn btn-primary" ng-show="widget.button.label != null && widget.button.label != ''" target="{{ widget.button.target }}">{{ widget.button.label }} <span class="glyphicon glyphicon-chevron-right"></span></a>
    <div ng-if="page.auth.isAdmin()">Label: <small contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.button.label"></small></div>
    <div ng-if="page.auth.isAdmin()">Uri: <small contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.button.uri"></small></div>
    <div ng-if="page.auth.isAdmin()">Target: <small contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.button.target"></small></div>
  </script>
  <div class="container" ng-if="page.auth.isAdmin()">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group pull-right widget-actions">
          <button type="button" class="btn btn-xs btn-default" disabled="disabled">{{ widget.widgetType }}</button>
          <button type="button" class="btn btn-xs btn-info" ng-click="page.swapAlignment(widget)"  ng-if="widget.widgetType == 'featurette'"><span class="glyphicon glyphicon-transfer"></span></button>
          <button type="button" class="btn btn-xs btn-info" ng-click="page.toggleDivider(widget)"><span class="glyphicon" ng-class="{'glyphicon-check': widget.hasDivider, 'glyphicon-unchecked': !widget.hasDivider}"></span> Divider</button>
          <button type="button" class="btn btn-xs btn-primary" ng-click="page.moveWidgetUp($index)" ng-disabled="page.isFirstWidget(widget)"><span class="glyphicon glyphicon-arrow-up"></span></button>
          <button type="button" class="btn btn-xs btn-primary" ng-click="page.moveWidgetDown($index)" ng-disabled="page.isLastWidget(widget)"><span class="glyphicon glyphicon-arrow-down"></span></button>
          <button type="button" class="btn btn-xs btn-danger" ng-click="page.deleteWidget($index)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container" ng-if="widget.hasDivider">
    <div class="row">
      <div class="col-md-12">
        <hr class="featurette-divider">
      </div>
    </div>
  </div>
  <div ng-class="{'container': widget.widgetType != 'carousel'}">
    <div ng-class="{'row': widget.widgetType != 'carousel'}" ng-switch="widget.widgetType">
      <!-- Page Header -->
      <div class="col-md-12" ng-switch-when="pageheader">
        <div class="page-header">
          <h1>
            <span contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.headingText"></span>
            <small contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.subHeadingText"></small>
          </h1>
        </div>
      </div>
      <!-- Jumbotron -->
      <div class="col-md-12" ng-switch-when="jumbotron">
        <div class="jumbotron">
          <div class="container">
            <h1>
              <span contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.headingText"></span>
              <span class="small" contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.subHeadingText"></span>
            </h1>
            <p contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.bodyText"></p>
            <p ng-include="'dynamic_button.html'"></p>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <div id="carousel-{{ $index }}" class="carousel slide hidden-xs" data-ride="carousel" ng-switch-when="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-{{ $parent.$index }}" data-slide-to="{{ $index }}" ng-class="{'active': $first}"  ng-repeat="panel in widget.panelContent"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item" ng-class="{'active': $first}" ng-repeat="panel in widget.panelContent">
            <img ng-src="{{ panel.image }}">
            <div class="carousel-caption">
              <span contenteditable="{{page.auth.isAdmin()}}" ng-if="page.auth.isAdmin()" ng-model="panel.image"></span>
              <h2 contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.headingText"></h2>
              <p contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.bodyText"></p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-{{ $index }}" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-{{ $index }}" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
      <!-- Well -->
      <div class="col-md-12" ng-switch-when="well">
        <div class="well">
          <div contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.bodyText"></div>
        </div>
      </div>
      <!-- Grid -->
      <div class="col-md-12" ng-switch-when="grid">
        <div class="container marketing">
          <div class="row">
            <div class="col-sm-{{12 / widget.panelContent.length | floor}}" ng-repeat="panel in widget.panelContent">
              <img class="img-circle" ng-src="{{ panel.image }}">
              <span contenteditable="{{page.auth.isAdmin()}}" ng-if="page.auth.isAdmin()" ng-model="panel.image"></span>
              <h2 contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.headingText"></h2>
              <div contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.bodyText"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Thumbnail -->
      <div class="col-md-12" ng-switch-when="thumbnail">
        <div class="container marketing">
          <div class="row">
            <div class="col-sm-{{12 / widget.panelContent.length | floor}}" ng-repeat="panel in widget.panelContent">
              <div class="thumbnail">
                <img ng-src="{{ panel.image }}">
                <span contenteditable="{{page.auth.isAdmin()}}" ng-if="page.auth.isAdmin()" ng-model="panel.image"></span>
                <div class="caption" ng-if="(panel.headingText != null && panel.headingText != '') || (panel.subHeadingText != null && panel.subHeadingText != '') || (panel.bodyText != null && panel.bodyText != '') || (panel.button.label != null && panel.button.label != '') || page.auth.isAdmin()">
                  <h3 ng-if="panel.headingText != null || panel.headingText != '' || page.auth.isAdmin()" contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.headingText"></h3>
                  <h4 ng-if="panel.subHeadingText != null || panel.subHeadingText != '' || page.auth.isAdmin()" contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.subHeadingText"></h4>
                  <p ng-if="panel.bodyText != null || panel.bodyText != '' || page.auth.isAdmin()" contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.bodyText"></p>
                  <script id="dynamic_panel_button.html" type="text/ng-template">
                    <a href="{{ panel.button.uri }}" type="button" class="btn btn-primary" ng-show="panel.button.label != null && panel.button.label != ''" target="{{ panel.button.target }}">{{ panel.button.label }} <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <div ng-if="page.auth.isAdmin()">Label: <small contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.button.label"></small></div>
                    <div ng-if="page.auth.isAdmin()">Uri: <small contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.button.uri"></small></div>
                    <div ng-if="page.auth.isAdmin()">Target: <small contenteditable="{{page.auth.isAdmin()}}" ng-model="panel.button.target"></small></div>
                  </script>
                  <p ng-include="'dynamic_panel_button.html'"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Featurette -->
      <div class="col-md-12" ng-switch-when="featurette">
        <div class="container marketing">
          <div class="row featurette" ng-switch="widget.alignment">
            <script id="widget_featurette_image.html" type="text/ng-template">
              <div class="col-md-5">
                <img class="featurette-image img-responsive" ng-src="{{ widget.images[0] }}">
                <span contenteditable="{{page.auth.isAdmin()}}" ng-if="page.auth.isAdmin()" ng-model="widget.images[0]"></span>
              </div>
            </script>
            <div ng-switch-when="left">
              <ng-include src="'widget_featurette_image.html'"></ng-include>
            </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">
                <span contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.headingText"></span>
                <span class="small" contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.subHeadingText"></span>
              </h2>
              <div class="lead" contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.bodyText"></div>
              <div ng-include="'dynamic_button.html'"></div>
            </div>
            <div ng-switch-when="right">
              <ng-include src="'widget_featurette_image.html'"></ng-include>
            </div>
          </div>
        </div>
      </div>
      <!-- Text -->
      <div class="col-md-12" ng-switch-when="text">
        <span contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.bodyText"></span>
      </div>
      <!-- HTML -->
      <div class="col-md-12" ng-switch-when="html">
        <div contenteditable="false" ng-model="widget.bodyText"></div>
      </div>
      <!-- YouTube -->
      <div class="col-md-12" ng-switch-when="youtube">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" ng-src="{{ page.$sce.trustAsResourceUrl('//www.youtube.com/embed/' + widget.videoUrl) }}"></iframe>
        </div>
        <span contenteditable="{{page.auth.isAdmin()}}" ng-model="widget.videoUrl"></span>
      </div>
    </div>
  </div>
</div>
